extends layout

mixin button_in_dropdown(text,link)
    li 
        a(href=link) #{text}

mixin year_item(text)
    -var click = "selectYear(" + text + ")"
    li(id=text)
        a(href="#",onclick=click) #{text}

mixin first_year_item
    -var text=end
    -var click = "selectYear(" + text + ")"
    li.active(id=text)
        a(href="#", onclick=click) #{text}

mixin animeControl
    div
        .container-fluid
            .row
                .col-md-3
                    p priority
                        a.priority(href="#") -1
        .container-fluid
            .row
                .col-md-3
                    .checkbox
                        label
                            input.music-flag(type="checkbox", name="music-flag", onclick="setMusicFlag(this)") 
                            | Music Flag
        .container-fluid
            .row
                .col-xs-1
                    button.btn.btn-default.btn-xs.episodeDown -
                .col-xs-1
                    a.episode(href="#") -1
                .col-xs-1
                    button.btn.btn-primary.btn-xs.episodeUp +

mixin animeAdd
    div
        .container-fluid
            .row
                .col-xs-1
                    button.btn.btn-default.btn-xs.animeAdd2Watch ADD

mixin animeNode
    .row#animeNodeTemp
        .col-md-9.pull-right
            .container-fluid
                .row(style="margin-top:3%")
                    .col-md-4
                        h2.anime-title animeTitle Here
                        h4
                            strong.season season
                        p.description It's description here
                    .col-md-3
                        +animeControl              
        .col-md-3.pull-left
            img.img-responsive.img-rounded(width=250, src="")

mixin animeAddNode
    .row#animeAdd
        .col-md-9.pull-right
            .container-fluid
                .row(style="margin-top:3%")
                    .col-md-6
                        h2.anime-title animeTitle Here
                        h4
                            strong.season season
                        p.description It's description here
                    .col-md-6
                        +animeAdd   
        .col-md-3.pull-left
            img.img-responsive.img-rounded(width=250, src="")

block variables
  - const page_title = username;

append style   
    style(type="text/css")
        | body { padding-top: 70px; }

append stylesheets
    link(rel="stylesheet" href="/stylesheets/dashboard.css")

append javascripts
    script(src="https://cdn.socket.io/socket.io-1.2.0.js")
    script(src="/javascripts/socket_anime.js")
    script(src="/socket.io/socket.io.js")

block header
    nav(class="navbar navbar-inverse navbar-fixed-top")
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(data-toggle="collapse",data-target="#navbar", aria-expanded="false",aria-controls="navbar")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#") Anime Schedule
            //- end of navbar=header
            #navbar.navbar-coolapse.coolapse
                ul.nav.navbar-nav.navbar-right 
                    li
                        a(href="#",id="nickname") #{nickname}
                    li.hidden
                        a(href="#", id="username") #{username}
                    li
                        a(href="#",onclick="logout()") logout

                        
                ul.nav.navbar-nav.navbar-right
                    li.btn-group
                        button.btn.btn-primary.dropdown-toggle(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") Search
                            span.caret
                        ul.dropdown-menu
                            li
                                p
                                    a title
                                    input.form-control#searchTitle(type="text",placeholder="title...")
                            li
                                p
                                    a year
                                    input.form-control#searchYear(type="text",placeholder="year...")
                            li.divider(role="sparator")
                            li
                                button.btn.btn-default(onclick="searchAnime()") search
                                
                            

                
block content
    .hidden(id="once") #{once}
    .container-fluid(id="mainbody")
        .row
            .col-sm-3.col-md-2.sidebar#sidebar
                div(style="overflow-y:auto;overflow-x: hidden; height:300px")
                    ul.nav.nav-sidebar
                        +first_year_item
                        -for(var i=end-1;i>=start;i--)
                            +year_item(i)
                hr
                ul.nav.nav-sidebar
                    li#spList
                        a(href="#", onclick="getSpList()") SP 

            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                ul#seasontap.nav.nav-tabs
                    li.active(style="width: 25%")
                        a(href="#fuyutab" data-toggle="tab") 冬
                    li(style="width: 25%")
                        a(href="#harutab", data-toggle="tab") 春
                    li(style="width: 25%")
                        a(href="#natsutab" data-toggle="tab") 夏
                    li(style="width: 25%")
                        a(href="#akitab" data-toggle="tab") 秋
                #myTabContent.tab-content
                    #fuyutab.tab-pane.fade.in.active
                        #fuyu.container-fluid
                        
                    #harutab.tab-pane.fade 
                        #haru.container-fluid

                    #natsutab.tab-pane.fade    
                        #natsu.container-fluid

                    #akitab.tab-pane.fade  
                        #aki.container-fluid

block footer
    .modal.fade#animeAddModal(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button",data-dismiss="modal" aria-hidden="true")
                        span.glyphicon.glyphicon-minus
                    h4.modal-title#myModalTitle Add Anime
                .modal-body#myModalBody

    .modal.fade#alertModal(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    h4#alertMsg waiting...


block hiddens
    .hidden.container-fluid
        +animeNode
        +animeAddNode
